My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "bf2151ea-0649-417c-b491-0fcf46c6c172",
      "name": "Telegram Trigger",
      "webhookId": "2c74282d-9d37-4898-852a-bb813df9d65f",
      "credentials": {
        "telegramApi": {
          "id": "iqtlfau6PIwVYmDr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ydfOdyMxVd177UbtTWKt31RpsywRPE87CzIUq9PMLYg",
          "mode": "list",
          "cachedResultName": "DeliveryBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ydfOdyMxVd177UbtTWKt31RpsywRPE87CzIUq9PMLYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1774570283,
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ydfOdyMxVd177UbtTWKt31RpsywRPE87CzIUq9PMLYg/edit#gid=1774570283"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "f204f199-3b1c-4434-960e-cf90fc7ee7eb",
      "name": "session_INFO",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1yRdV9czFLlTytGB",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7d0ba842-f6ac-4fe3-b43b-f4be88f5bbbd",
              "leftValue": "={{ $json.telegram_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "5a735d79-a390-4206-a69b-dcd23bfee749",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ydfOdyMxVd177UbtTWKt31RpsywRPE87CzIUq9PMLYg",
          "mode": "list",
          "cachedResultName": "DeliveryBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ydfOdyMxVd177UbtTWKt31RpsywRPE87CzIUq9PMLYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1774570283,
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ydfOdyMxVd177UbtTWKt31RpsywRPE87CzIUq9PMLYg/edit#gid=1774570283"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla_actual": "menu_principal",
            "carrito_temporal": "[]",
            "ultimo_cambio": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carrito_temporal",
              "displayName": "carrito_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ultimo_cambio",
              "displayName": "ultimo_cambio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        96
      ],
      "id": "26a4d6f3-c70a-4d3f-838e-153bdb754f9d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1yRdV9czFLlTytGB",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "¡Bienvenido a DeliveryBot! 🍽️ ¿Qué deseas hacer?  1️⃣ Ver Menú 2️⃣ Mis Pedidos",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ver Menú",
                    "additionalFields": {
                      "callback_data": "ver_menu"
                    }
                  },
                  {
                    "text": "Mis Pedidos",
                    "additionalFields": {
                      "callback_data": "mis_pedidos"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        96
      ],
      "id": "fb15c769-1b61-4429-a1dd-77f773fa66a1",
      "name": "Send a text message",
      "webhookId": "e1f0d52d-ddbc-449f-a748-dcd9036c6c1f",
      "credentials": {
        "telegramApi": {
          "id": "iqtlfau6PIwVYmDr",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "session_INFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "session_INFO": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b1ec03c5-68d6-4369-b6e0-1540e2033a27",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e053010dd8c7d653d117c511e8aea20746fd7b6e3cb20fbfd9a60d0141a545b7"
  },
  "nodeGroups": [],
  "id": "oOAUsFIRgHlveR32",
  "tags": []
}