WF2_Menu_Carrito.json
{
  "name": "WF2_Menu_Carrito",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "fd269afe-ca68-4070-86d1-101537fba181",
      "name": "Telegram Trigger",
      "webhookId": "81a7e411-a74b-4170-884f-4712cb4e5f65",
      "credentials": {
        "telegramApi": {
          "id": "Vr7G28OE5jLnuNaD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b08aa92a-980f-492b-b1ff-947584f86a76",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "ver_menu",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "9bec8d74-f2b5-435b-be9e-da17ef41b879",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ydfOdyMxVd177UbtTWKt31RpsywRPE87CzIUq9PMLYg",
          "mode": "list",
          "cachedResultName": "DeliveryBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ydfOdyMxVd177UbtTWKt31RpsywRPE87CzIUq9PMLYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Menu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ydfOdyMxVd177UbtTWKt31RpsywRPE87CzIUq9PMLYg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "categoria",
              "lookupValue": "Bebidas"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -96
      ],
      "id": "6297cecb-96db-4851-bdc9-c5e6b005297c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1yRdV9czFLlTytGB",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet msg = \"🥤 *Bebidas disponibles:*\\n\\n\";\nitems.forEach((item, i) => {\n  msg += `${i+1}. ${item.json.nombre} - $${item.json.precio}\\n`;\n});\nmsg += \"\\nEscribe el número del producto que deseas\";\nreturn [{json: {texto: msg}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "e15ef10e-23cf-45f7-aabc-722cdc65befc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.texto }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        -96
      ],
      "id": "f2f400f4-d86c-45cb-af8d-d2d20a4535b3",
      "name": "Send a text message",
      "webhookId": "ab238735-5d70-47b1-a37e-dd2815282e2c",
      "credentials": {
        "telegramApi": {
          "id": "Vr7G28OE5jLnuNaD",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "1f2ddbee-dcd2-47e8-a348-d43690e7ec77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e053010dd8c7d653d117c511e8aea20746fd7b6e3cb20fbfd9a60d0141a545b7"
  },
  "nodeGroups": [],
  "id": "6pZUJml1RI5x86GQ",
  "tags": []
}